*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
section{
    width: 100%;
    height: 100vh;
    background: rgb(8, 104, 104);
    display: flex;
    justify-content: center;
    align-items: center;
}
.div{
    border: 1px solid aqua;
}
.container{
    border: 2px solid aqua;
    border-radius: 25px;
    height: 30rem;
    width: 30rem;
    display: grid;
    padding: 70px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
.cell1, .cell2, .cell3{
    border-top: none;
}
.cell3, .cell6, .cell9{
    border-right: none;
}
.cell1, .cell4, .cell7{
    border-left: none;
}
.cell7, .cell8, .cell9{
    border-bottom: none;
}